body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 984px;
    margin: 0 auto;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
a:hover, a:focus {
    color:rgba(0, 109, 240, 1);
}
h2 {
    font-size: 15px;
    text-transform: lowercase;
    font-weight: bold;
}
header {
    height: 55px;
    box-shadow: 0px 2px 1px -1px grey;
    background: white;
    width: 984px;
}
.sticky {
    position: fixed;
    top: 0;
  }
  
.sticky + .content, .sticky + .sidebar {
    padding-top: 55px;
  }
.title {
    float: left;
    width: 25%;
}
.title h1 {
    font-size:22px;
    float: left;
}
.title img {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    margin: 10px;
    float: left;
}
nav {
    float: right;
    width: 70%;
}

.menu {
    margin: 10px;
}
.menu li {
    float: right;
    list-style: none;
    padding: 4px 20px;
    font-size: 20px;
}
.menu li a:hover {
    border-bottom: 2px solid rgba(0, 109, 240, 1);
    padding-bottom: 4px;
}
.selected {
    border-bottom: 2px solid rgba(0, 109, 240, 1);
    padding-bottom: 4px;
}

.hidden {
    display: none;
}
.hamburger {
    float:right;
    padding: 15px 30px;
    cursor: pointer;
}
.content {
    width: 70%;
    float: left;
}
.content h1 {
    font-size:20px;
    text-transform: uppercase;
    background: rgba(0, 109, 240, 0.8);
    padding: 10px;
}
.sidebar {
    float: left;
    width: 25%;
    margin:10px 0px 0px 10px;
    padding: 10px;
}
.profile {
    width: 270px;
    box-shadow: 1px 2px 1px 0px grey;
    cursor: pointer;
}
footer {
    clear: both;
    color: grey;
    font-size: 12px;
    height: 50px;
    background: lightgrey;
}
footer p {
    text-align: center;
    padding: 15px;
}

/* icons */
.ic {
    display: block;
    width: 16px;
    height: 16px;
    color: rgba(0, 109, 240, 1);
    float: left;
    margin:5px;
}
.icon-menu {
    background-image: url("../images/icon-menu.png");
    background-position: center center;
    display: block;
    width: 32px;
    height: 32px;
}
.icon-close {
    background-image: url("../images/icon-close.png");
    background-position: center center;
    display: block;
    width: 32px;
    height: 32px;

}
.icon-facebook {
    background-image: url("../images/icon-facebook.png");
    background-position: center center;
}
.icon-twitter {
    background-image: url("../images/icon-twitter.png");
    background-position: center center;
}
.icon-linkedin {
    background-image: url("../images/icon-linkedin.png");
    background-position: center center;
}
.icon-address {
    background-image: url("../images/icon-address.png");
    background-position: center center;
}
.icon-phone {
    background-image: url("../images/icon-phone.png");
    background-position: center center;
}
.icon-email {
    background-image: url("../images/icon-email.png");
    background-position: center center;
}
.contact ul li {
    list-style: none;
    margin-bottom: 30px;
}
